<mat-toolbar color="primary">
    <span><a  routerLink="/">{{ title }}</a></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="isAuthenticated">
            <a mat-stroked-button routerLink="/facility/create" routerLinkActive="mat-accent">Add Facility</a>
        </li>
        <li *ngIf="isAuthenticated">
            <a mat-stroked-button routerLink="/profile" routerLinkActive="mat-accent">Profile</a>
        </li>
        <li *ngIf="!isAuthenticated">
            <a mat-stroked-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!isAuthenticated">
            <a mat-stroked-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
        </li>
    </ul>
</mat-toolbar>