mat-spinner {
    margin: auto;
}

mat-card {
    margin: auto;
    margin-top: 10rem;
    width: 20rem;
}

mat-card-title {
    text-align: center;
}

mat-card-actions {
    text-align: end;
}

hr {
    border-top: 1px solid #673ab7;
    margin: 1rem 0;
}

.success {
    color: #00C853;
}

.danger {
    color: #C62828;
}