<mat-card *ngIf="facility">
    <mat-card-title>
        {{ facility.name }}
    </mat-card-title>
    <hr>
    <mat-card-content>
        <p>This facility has <b>{{ facility.seats }}</b> seats.</p>
        <p class="success" *ngIf="facility.isAvailable">Available for booking.</p>
        <p class="danger" *ngIf="!facility.isAvailable">Not available for booking.</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" (click)="onToggle(!facility.isAvailable)">TOGGLE</button>
        <button mat-button color="warn" (click)="onDelete(facility.id)">DELETE</button>
    </mat-card-actions>
</mat-card>