<h1>Facilities</h1>

<mat-accordion>
    <mat-expansion-panel *ngFor="let facility of facilities">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ facility.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This facility has {{ facility.seats }} seats available</p>
        <p color="#EE0202" *ngIf="facility.isAvailable">This facility is available for booking.</p>
        <p color="$mat-red" *ngIf="!facility.isAvailable">This facility is not available for booking.</p>
    </mat-expansion-panel>
</mat-accordion>