<h1>Facilities</h1>

<mat-accordion [multi]="true" *ngIf="facilities.length > 0">
    <mat-expansion-panel *ngFor="let facility of facilities">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>{{ facility.name }}</b>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-action-row>
            <button mat-button color="primary" (click)="onView(facility)">VIEW DETAILS</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-card *ngIf="facilities.length == 0 || isLoading">
    <mat-spinner [diameter]="25" *ngIf="isLoading"></mat-spinner>
    <p class="empty" *ngIf="!isLoading">No facilities.</p>
</mat-card>